/xsd/
/vendor/
/nbproject/
/composer.lock
/.env
/tests/.env
/debian/php-vitexsoftware-pohoda-connector/
/debian/php-vitexsoftware-pohoda-connector.substvars
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/.build/
/docs/
/.phpdoc/
/metadata/
/debian/php-vitexsoftware-pohoda-connector-doc/
/debian/php-vitexsoftware-pohoda-connector-doc.substvars
/debian/php-vitexsoftware-pohoda-connector.debhelper.log
/.phpunit.result.cache
