<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <php>
        <env name="POHODA_URL" value="https://novak.proxy.spojenet.cz"/>
        <env name="POHODA_USERNAME" value="api"/>
        <env name="POHODA_PASSWORD" value="api"/>
        <env name="POHODA_ICO" value="12345678"/>
        <env name="POHODA_DEBUG" value="true"/>
    </php>
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/mServer</directory>
        </whitelist>
    </filter>

    <!-- logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging -->
</phpunit>
