Source: php-vitexsoftware-pohoda-connector
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), pkg-php-tools (>= 1.7~), jq, moreutils, appstream
Standards-Version: 4.7.0
Homepage: https://github.com/VitexSoftware/PHP-Pohoda-Connector
Rules-Requires-Root: no

Package: php-vitexsoftware-pohoda-connector
Architecture: all
Multi-Arch: foreign
Section: php
Depends: ${misc:Depends}, ${phpcomposer:Depends}, ${php:Depends}, php-curl, php-xml, php-lightools-xml, php-vitexsoftware-pohodaser, php-riesenia-pohoda, composer
Provides: php-pohoda
Description: client library for Sormware's Pohoda mServer
    PHP library for communication with Pohoda mServer.
    .
    This package provides a simple way to communicate with Pohoda mServer
    using PHP.

#Package: php-vitexsoftware-pohoda-connector-doc
#Depends: ${misc:Depends}
#Architecture: all
#Suggests: www-browser
#Section: doc
#Priority: optional
#Multi-Arch: foreign
#Description: Documentation for php-vitexsoftware-pohoda-connector
#    PHP library for communication with Pohoda mServer.
#    .
#    This package provides a simple way to communicate with Pohoda mServer
#    using PHP.
#    .
#    This package contains the documentation.
