#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)
PKG_TYPE    := $(shell jq -r '.type' composer.json)

%:
	dh $@ --with phpcomposer


override_dh_install:
	dh_install
	install -m 644 debian/autoload.php debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/autoload.php
	sed -i "s|'library'|'$(PKG_TYPE)'|g" debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/autoload.php
	# Version stamp from main composer.json
	jq '.version = "$(PKG_VERSION)"' composer.json | sponge debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/composer.json

override_dh_auto_test:
	appstreamcli validate --pedantic --no-net \
	    debian/php-vitexsoftware-pohoda-connector.metainfo.xml
