#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer


override_dh_install:
	dh_install
	phpab --output debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/autoload.php --basedir src/mServer src/mServer
	echo "require_once '/usr/share/php/Ease/autoload.php';" >> debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/autoload.php
	# Version stamp
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/config/composer.json | sponge debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/composer.json
	sed -i -e  "s/\/\.\.\/\.\.\//\//g" debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/Client.php
	sed -i 's/vitexsoftware/deb/' debian/php-vitexsoftware-pohoda-connector/usr/share/php/mServer/Client.php
